@model List<Disk>
@{
    ViewBag.Title = "Disk Manager";
}

<h1>@ViewBag.Title</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Disk ID</th>
            <th>Release Date</th>
            <th>CD Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var disks in Model)
        {
        <tr>
            <td>@disks.DiskId</td>
            <td>@disks.ReleaseDate</td>
            <td>@disks.CdName</td>
            <td>
                <a asp-controller="Disk" asp-action="Edit" asp-route-id="@disks.DiskId">Edit</a>
            </td>
            <td>
                <a asp-controller="Disk" asp-action="Delete" asp-route-id="@disks.DiskId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>