@model DiskHasBorrower
@{
    string title = ViewBag.Action + " Checkout";
    ViewBag.Title = title;
}
<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"> </div>

    <div>
        <label asp-for="DiskId">Disk</label>
        <select asp-for="DiskId" class="form-control">
            <option value="">select a disk</option>
            @foreach (Disk d in ViewBag.Disks)
            {
                <option value="@d.DiskId">@d.DiskName</option>
            }
        </select>
    </div>

    <div>
        <label asp-for="BorrowerId">Status</label>
        <select asp-for="BorrowerId" class="form-control">
            <option value="">select a borrower</option>
            @foreach (Borrower b in ViewBag.Borrowers)
            {
                <option value="@b.BorrowerId">@b.Lname, @b.Fname</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="BorrowedDate">Borrowed Date</label>
        <input type="date" asp-for="BorrowedDate" class="form-control" />
    </div>
    <div>
        <label asp-for="ReturnedDate">Returned Date</label>
        <input type="date" asp-for="ReturnedDate" class="form-control" />
    </div>
    <input type="hidden" asp-for="DiskHasBorrowerId" />
    <br />
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="DiskHasBorrower" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

