@model List<Artist>
@{
    ViewBag.Title = "Artist Manager";
}

<h1>@ViewBag.Title</h1>
<a asp-controller="Artist" asp-action="Add">Add an artist</a>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Artist ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.ArtistId</td>
                <td>@artist.Lname</td>
                <td>@artist.Fname</td>
                <td>@artist.ArtistType.Description</td>
                <td>
                    <a asp-controller="Artist" asp-action="Edit" asp-route-id="@artist.ArtistId">Edit</a>
                </td>
                <td>
                    <a asp-controller="Artist" asp-action="Delete" asp-route-id="@artist.ArtistId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>