@model List<Borrower>
@{
    ViewBag.Title = "Borrower Manager";
}

<h1>@ViewBag.Title</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Borrower ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var borrower in Model)
        {
            <tr>
                <td>@borrower.BorrowerId</td>
                <td>@borrower.Lname</td>
                <td>@borrower.Fname</td>
                <td>@borrower.Phone</td>
            </tr>
        }
    </tbody>
</table>